@using Sitecore.Feature.Navigation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Feature.Navigation.Models.NavigationItems

@{
	if (Model?.Items == null)
	{
		return;
	}
}

<ul class="nav nav-stacked">
	@foreach (var item in Model.Items)
	{
		var liclass = "";
		if (item.Item.DividerBefore.Value)
		{
			liclass = "divider";
		}
		<li class="@liclass">
			<a href="@item.Url" target="@item.Target" title="@item.Item.NavigationTitle.Render(editing: false)">
				@if (!string.IsNullOrWhiteSpace(item.Item.Icon.RawValue))
				{
					<i class="fa fa-@item.Item.Icon.Render(editing: false)"></i>
				}
				else
				{
					@item.Item.NavigationTitle
				}
			</a>
		</li>
	}
</ul>